.movies-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 20px;
}

.movie-tile {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 0 10px; 
    flex: 0 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    width: 200px; 
}

.movie-tile img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.movie-tile h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.movie-tile p {
    margin-bottom: 5px;
}

.movies-section {
    margin-bottom: 30px;
}

.movies-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: rgb(162, 198, 238);
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}
